.image {
  width: 90%;
  margin-top: 60px;
  align-self: center;

  @media (min-width: $medium) {
    margin-right: 40px;
    min-width: 580px;
  }

  @media (min-width: $large) {
    max-width: 900px;
  }
}
