.image {
  width: 90%;
  margin-top: 60px;
  align-self: center;

  &.desktop {

    @media (min-width: $medium) {
      min-width: 580px;
    }
  }

  @media (min-width: $medium) {
    margin-right: 40px;
  }
}
