:root {
  --c-grayish: #9fabb2;
  --c-lightcyan: #86c5bc;
  --c-gray: #eeecec;
  --c-cyan: #26baa4;
  --c-darkcyan: #23a793;
  --c-blue: #6173ff;
  --c-lightblue: #a4abdd;
  --c-darkblue: #4d5bc7;
  --c-dark: #4c545d;
  --c-white: #ffffff;
  --f-font: 'Bai Jamjuree';
}
$medium: 992px;
$large: 1400px;
