.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 70px;

  &__content {

    @media (min-width: $medium) {
      margin: 0 30px;
      width: 33%;
      min-height: 200px;
    }
  }

  @media (min-width: $medium) {
    align-items: flex-start;
    flex-direction: row;
  }
}
