.social {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  &__link {
    margin: 0 10px;
    font-size: 1.8rem;
    color: var(--c-dark);

    &:hover {
      color: var(--c-cyan);
    }
  }

  @media (min-width: $medium) {
    align-self: flex-end;
  }
}
